@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'LotteMartHappy';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
}

.lottemarthappy * {
 font-family: 'LotteMartHappy', sans-serif;
}

.normal {
 font-style: normal;
}

.w250 {
 font-weight: 250;
}

.w300 {
 font-weight: 300;
}

.w350 {
 font-weight: 350;
}

.w400 {
 font-weight: 400;
}

.w500 {
 font-weight: 500;
}

.w700 {
 font-weight: 700;
}

.w800 {
 font-weight: 800;
}

.w900 {
 font-weight: 900;
}

li span {
 line-height: 1.8;
 font-size: 1.3em;
}

body {
  font-family: 'LotteMartHappy', sans-serif;
  max-width: 1920px;
  max-height: 1080px;
  background-color: #0C1D28;
}

.title {
  color: white;
  font-weight: 900;
  margin-left: 90px;
  margin-top: 64px;
  font-size: 64px;
  height: 90px;
}

.score-image {
  max-height: 520px;
  min-width: 80%;
  opacity: 0.5;
}
.score-image::before {
  display: block;
  position: relative;
  margin-top: 0px;
  height: 520px;
  width: 100%;
  content: 'asdf';
  opacity: 0.5;
}
.score-info {
  display: flex;
  justify-content: space-between;
  margin: 90px;
  background: black;
  height: 480px;

  text-align: center;
  vertical-align: middle;
}
.score-sp{

  margin-left: 30px;
}
.score-sp2{
  margin-top: -10px;
  margin-right: 180px;
  text-align: left;
}

.score-title {
  color: white;
  font-weight: 900;
  text-align: center;
  margin-top: 480px;
  font-size: 64px;
  height: 90px;
}

.score-center {
  color: white;
  margin-top: -20px;
  font-weight: 900;
  font-size: 100px;
  text-align:center;
}

.score-info {
  color: white;
  font-weight: 500;
  font-size: 64px;
  text-align:center;
  vertical-align: middle;
}

.scene-info {
  display: flex;
  justify-content: space-between;
  margin: 90px;
  background: black;
  height: 480px;
}

.scene-detail{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.scene-name {
  color: white;
  font-weight: 500;
  font-size: 64px;
  margin-top: 36px;
  margin-left: 36px;
}

.scene-image {
  max-height: 480px;
  min-width: 50%;
}

.scene-image::before {
  display: block;
  position: relative;
  margin-top: 0px;
  height: 480px;
  width: 100%;
  content: '';
  background-image: linear-gradient(to right, #000000, transparent 50%, transparent 100%);
}

.scene-sub{
  margin-left: 36px;
  margin-top: 24px;
  color:white;
  font-weight: 100;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.scene-sub > p {
  margin-left: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.detail-icon{
  width: 80px;
  height: 40px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 90px;
  height: 200px;
}
