@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'LotteMartHappy';
  font-style: normal;
  font-weight: 500;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
}

.lottemarthappy * {
 font-family: 'LotteMartHappy', sans-serif;
}

.normal {
 font-style: normal;
}

.w250 {
 font-weight: 250;
}

.w300 {
 font-weight: 300;
}

.w350 {
 font-weight: 350;
}

.w400 {
 font-weight: 400;
}

.w500 {
 font-weight: 500;
}

.w700 {
 font-weight: 700;
}

.w800 {
 font-weight: 800;
}

.w900 {
 font-weight: 900;
}

li span {
 line-height: 1.8;
 font-size: 1.3em;
}

body {
  font-family: 'LotteMartHappy', sans-serif;//Noto Sans KR
  max-width: 1920px;
  max-height: 1080px;
  background-image: linear-gradient(to right, #0C1D28, #275067 100%);
  ;
}

.sidebar {
  height: 1080px;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
}

.sidebar:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  position: absolute;
  width: 100%;
  /* Change this to whatever width you want. */
  height: 180px;
  top: 0;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

#logo {
  width: 193px;
  height: 187px;
  margin-top: 68px;
  margin-bottom: 60px;
}

.menu {
  width: 400px;
  height: 160px;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 60px;
  align-items: center;
  z-index: 1;
}

.menu>span {
  width: 400px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu:hover {
  /* background: rgba(0,0,0,0.2); */
  color: #07B483;
}


/* .menu:hover::after{
  content: "";
  position: relative;
  width: 0;
  height: 100%;
  right:0;
  border-right: 4px solid #07B483;
} */

.selected {
  background: rgba(255, 255, 255, 0.4);
  color: white;
}

.selected:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  position: relative;
  width: 0;
  height: 100%;
  right: 0;
  border-right: 4px solid #07B483;
}

a{
  color:none;
  text-decoration: none;
}

/*
 *  메인 div
 */

.main {
  margin-left: 400px;
  height: 1080px;
  width: 1520px; /* 1920-400*/
  padding-top: 130px;
  position: fixed;
}

/* 홈 화면인 경우 */
.home-title {
  color: white;
  font-weight: 100;
  font-size: 60px;
  display: flex;
  justify-content: center;
}

.home-guide {
  color: white;
  margin: auto;
  font-weight: 350;
  font-size: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

/* 홈 화면외 화면 경우 */
.other-title {
  color: white;
  font-weight: 500;
  font-size: 64px;
  margin-left: 80px;
}


.main-scene {
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.main-scene-item{
  margin-right: 40px;
  margin-top:40px;
  display: flex;
  flex:0.5;
  flex-direction: column;
}

.main-scene-item img {
  object-fit:contain;
  width: 640px;
  height: 320px;
  overflow: hidden;
  background: black;
}

.item-desc{
  color:white;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desc-title{
  font-size: 40px;
  font-weight:400;
}

.desc-mv{
  font-size: 32px;
  font-weight:100;
}
