<!-- views/partials/header.ejs -->

<div class="sidenav">
   <a href="/" style="background: rgb(65,132,143);"><img src="/images/seongdal.png" style="width:100%;"></a>
   <a href="/sync_measure">1. 싱크로율 측정</a>
   <a href="#">2. 더빙</a>
   <a href="#">3. 달인 갤러리</a>
   <a href="#">4. 종료</a>
</div>
