<!-- views/partials/head.ejs -->
<meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />
<meta name="viewport" content = "height=1080, width=1920, user-scalable=no">
<link rel="stylesheet" href="/stylesheets/ranking-detail.css" />
<title>성달</title>
