<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <script type="text/javascript" src="http://svcapi.gigagenie.ai/sdk/v1.0/js/gigagenie.js"></script>
    <script type="text/javascript">
    var options={};
    // 서비스 초기화
    function init(){
        options={};
    	options.keytype="GBOXDEVM"; // 개발(GBOXDEVM) 또는 상용(GBOXCOMM) 키 종류 입력
    	options.apikey="RTUwMDE4OTN8R0JPWERFVk18MTUyODY5MTc4MzQ4Ng=="; // 개발자 포털에서 키를 발급받아 입력

    	gigagenie.init(options,function(result_cd,result_msg,extra){
            if(result_cd===200){
                //init 성공
                console.log('헬로 지니 실행, Initialize Success');
                //함수 호출 및 개발 진행

                //callback 방식
                var options={};
                options.ttstext="성대모사의 달인, 성달에 오신 것을 환영합니다. 호출어를 부른 뒤에 원하는 메뉴를 말씀해주세요.";
                gigagenie.voice.sendTTS(options,function(result_cd,result_msg,extra){
                    if(result_cd===200){
                      //do next action
                    } else {
                     //extra.reason 에 voice 오류 전달.
                 };
                });
    	    };
    	});
    }

    // 서비스 종료 명령 수신 API
    gigagenie.voice.onRequestClose=function(){
    	options={};
    	gigagenie.voice.svcFinished(options,function(result_cd,result_msg,extra){
    	});
    };
    </script>
  </head>
  <body style="background: rgb(151, 192, 183);" onload=init()>
    <header>
      <% include ./partials/header %>
    </header>
    <div class="sidenav">
       <a href="/" style="background: rgb(65,132,143);"><img src="/images/seongdal.png" style="width:100%;"></a>
       <a href="/sync_measure">성대모사 연습</a>
       <a href="/dubbing">더빙</a>
       <a href="/gallery">달인 갤러리</a>
    </div>

    <div class="main">
     <h1 class="text">성대모사의 달인 <span style="color:rgb(65,132,143);">성달</span>에 오신 것을 환영합니다.</h1><br><br>
     <h1 class="text">메뉴를 골라주세요.</h1>
     <h1 class="text">성대모사 연습</h1>
     <h1 class="text">더빙하기</h1>
     <h1 class="text">달인 갤러리</h1>
   </div>
 </body>
</html>
