<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body style="background: rgb(151, 192, 183);">
    <header>
      <% include ./partials/header %>
    </header>
    <div class="sidenav">
       <a href="/" style="background: rgb(65,132,143);"><img src="/images/seongdal.png" style="width:100%;"></a>
       <a href="/sync_measure">1. 성대모사 연습</a>
       <a href="#">2. 더빙</a>
       <a href="#">3. 달인 갤러리</a>
    </div>

    <div class="main">
     <h1 class="text">성대모사의 달인 <span style="color:rgb(65,132,143);">성달</span>에 오신 것을 환영합니다.</h1><br><br>
     <h1 class="text">메뉴를 골라주세요.</h1>
     <h1 class="text">1. 성대모사 연습</h1>
     <h1 class="text">2. 더빙</h1>
     <h1 class="text">3. 성달 구경</h1>
   </div>
 </body>
</html>
