<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <style>
    html, body, video {
    	padding: 0;
    	margin: 0;
    }
    video {
    	position: absolute;
    	top: 0;
    	left: 0;
    	bottom: 0;
    	right: 0;
    	width: 100%;
    	height: 100%;
    }
  </style>
  <body style="background: rgb(151, 192, 183);">
    <header>
      <% include ./partials/header %>
    </header>
    <h1>working now...</h1>
 </body>
</html>
